@import "tailwindcss"; 

@theme inline {
  --font-heading: var(--font-heading);
  --font-body: var(--font-body);

  --color-background: #F7F6F2;
  --color-panel: #F0EFE8;
  --color-special-panel: #EAF3DE;

  --color-text-title: #639922;
  --color-text-primary: #2C2C2A;
  --color-text-secondary: #5F5E5A;
  --color-text-important: #A94B4B;

  --color-border: #D3D1C7;

  --color-button-primary: #73AD2D;
  --color-button-secondary: #558A29;

  --color-opacit-text: rgba(95, 94, 90, 0.6);

  --color-moisture-wet: #D2E3F4;
  --color-moisture-wet-b: #BACBDB;
  --color-moisture-optimal: #E2F9C8;
  --color-moisture-optimal-b: #C1E09F;
  --color-moisture-dry: #F9DDAB;
  --color-moisture-dry-b: #DCC18F;
  --color-moisture-danger: #FFD8D8;
  --color-moisture-danger-b: #E0A7A7;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--color-background);
  font-family: Arial, Helvetica, sans-serif;
}
